h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


a {
    text-decoration: none;
    color: inherit;
}

    a:hover, a:visited {
        text-decoration: none; /* Ta bort understrykning även vid hover och besökt */
    }

img {
    width: 250px;
    border-radius: 3px;
    border: 2px solid black;
}

