@using NydahlsWebshop1000.Models
@using NydahlsWebshop1000.Repository
@inject ProductRepository productRepository

<p>
    <a href=@($"/hippo-page/{@Product?.Id}")>
        <img src="@(soldOut ? Product?.ImgUrlSoldOut : Product?.ImgUrl)" />
        <br />
        @Product?.Title
    </a>
</p>

@code {
    [Parameter]
    public Product? Product { get; set; }
    bool soldOut = false;

    protected override void OnInitialized()
    {
        if (Product?.Quantity < 1)
            soldOut = true;
    }
}
