@page "/hippo-page/{id:int}"
@using Data
@using Data.Classes
@using Models
@using Repository
@rendermode InteractiveServer
@inject ProductRepository productRepository
@inject ShoppingCart shoppingCart


<img src="@hippo?.ImgUrl" />
<h3>@hippo?.Title</h3>
<p>Description: @hippo?.Description</p>
<p>Price: @hippo?.Price (USD)</p>
<button @onclick="() => AddToCart(hippo)" class="btn btn-primary">Add to cart</button>


@code {
    [Parameter]
    public int Id { get; set; }

    public Product? hippo = new();

    protected override async Task OnInitializedAsync()
    {
        hippo = await productRepository.GetProduct(Id);
    }

    public void AddToCart(Product addedHippo)
    {
        // shoppingCart.AddToOrder(addedHippo);
        shoppingCart.AddToProductsAndAmounts(addedHippo);
    }
}
