h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#product-container {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover, a:visited {
        text-decoration: none; /* Ta bort understrykning även vid hover och besökt */
    }

img {
    width: 200px;
    border-radius: 2px;
    border: 5px solid black;
}
