@page "/"
@using NydahlsWebshop1000.Repository
@using NydahlsWebshop1000.Models
@inject ProductRepository productRepository

<PageTitle>Hippo Home</PageTitle>

<h2>Welcome to the hippo-mix webshop!</h2>

<container id="product-container">
    @foreach (var item in products)
    {
        <ProductComponent Product="@item"></ProductComponent>
    }
</container>


@code {
    List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await productRepository.GetProducts();
    }
}