@page "/"
@using NydahlsWebshop1000.Repository
@using NydahlsWebshop1000.Models
@inject ProductRepository productRepository

<PageTitle>Home</PageTitle>

<h2>Welcome to the hippo-mix webshop!</h2>

<container id="product-container">
    @foreach (var item in products)
    {
        <p>
            <a href=@($"/hippo-page/{@item.Id}")>
                <img src="@item.ImgUrl"><br />
                @item.Title
             </a>
        </p>
    }
</container>


@code {
    List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
    }

    public async Task AddProduct(Product product)
    {
        await productRepository.AddProduct(product);
    }

    public async Task GetProducts()
    {
        products = await productRepository.GetProducts();
    }
}