#shopping-cart {
    width: 10px;
    background-color: cadetblue;
    margin-right:0px;
    display: block;
}

#product-container {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
